@import url("./ultils/reset.css");
@import url("./ultils/utils.css");

:root {
  --background-dark: rgb(24, 23, 31);
  --app-background-white: #e5e7ef;
  --grey-home:#f2f2f2;
  --grey-login:#fff;
  --header-color: #232f2f;
  --hover-color: #38383b;
  --logo-color-2:#130B68;
  --logo-color:#43619f;
}

body {
  background-color: #F4F2EE;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

header {
  background-color: #fff;
  min-width: 100%;
  height: 52px;
  box-shadow: 0px 0.5px 4px 0 #b2b2b2;
}

/* logo */
.logo {
  background-image: url(../img/logo.png);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.bar {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000;
  padding: 0px 10px;
}

/* nav */
nav {
  padding: 10px;
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  font-size: 15px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
  color: var(--logo-color);
}

.home i, .home{
  color: var(--hover-color);
}

nav ul li i {
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
  color: var(--logo-color);
  letter-spacing: 0.2px;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
}

nav ul li i:hover/* , nav ul li:hover */ {
  color: var(--hover-color);
}

/* columns */
.column {
  margin-top: 20px;
}
/* main columns 1*/
.column1 {
  text-align: center;
  height: 300px;
  width: 220px;
  border-radius: 5px;
  background-color: var(--grey-login);
  box-shadow: 0.5px 1px 4px 0 #b2b2b2;
}

.clm1-bg {
  background-image: url('../img/bg-clm1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  height: 60px;
  width: 220px;
  position: relative;
}

.clm1-img {
  position: absolute;
  translate: 60px 10px;
  background-image: url('../img/profile-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.clm1-des {
  margin-top: 55px;
}

.under {
  color: #858585;
  width: 20ch;
  margin-left: 25px;
}

.under-un {
  color: #2d2d2d;
}

.under-un span {
  margin-left: 50px;
}

.under-un .hi {
  margin-left: 75px;
}

/* main column 2 */
.column2 {
  padding: 10px;
  text-align: center;
  height: 130px;
  width: 520px;
  background-color: var(--grey-login);
  border-radius: 5px;
  box-shadow: 0.5px 1px 4px 0 #b2b2b2;
}

.clm2-img {
  background-image: url('../img/profile-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

input[type=text] {
  width: 420px;
  height: auto;
  background-color: var(--placeholder-color);
  border-radius: 50px;
  font-size: 15px;
  color: #000;
  border: 1px solid #000;
  text-align: left;
  padding: 10px 20px;
  margin: 10px;
}

input::placeholder {
  color: #000;
}

.media {
  padding: 10px 30px;
}

.media div {
  cursor: pointer;
}

.media i {
  color: var(--logo-color-2);
}

/* main column 3 */
.column3 {
  text-align: center;
  height: 83dvh;
  width: 280px;
  background-color: var(--grey-login);
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 0.5px 0px 4px 0 #b2b2b2;
}

.column3 p {
  text-align: left;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 0px;
  /* text-decoration: underline; */
  color: #696B6E;
}

.users {
  border-top: 1px solid #778899;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
}

.user-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.user-name {
  letter-spacing: 1.2px;
}

.user-city {
  color: var(--logo-color-2);
  letter-spacing: 1.2px;
}

/* footer */
.contact {
  background-color: var(--app-background-white);
  text-align: center;
  height: 45px;
  box-shadow: 0.5px 2px 4px 2px #b2b2b2;
}

.box {
  position: relative;
  text-align: center;
}

.box .icon {
  color: var(--logo-color);
  align-items: center;
}

.box .icon a {
  color: var(--logo-color);
  font-size: 25px;
  transition: color 0.25s ease-in-out;
}

.box .icon a:hover {
  color: var(--hover-color);
}

.icon i {
  margin-left: 20px;
  cursor: pointer;
}

.footer {
  background-color: var(--app-background-white);
  color: #000;
  position: relative;
  bottom: 0;
}

