@import url("./ultils/reset.css");
@import url("./ultils/utils.css");

:root {
  --background-dark: rgb(24, 23, 31);
  --app-background-white: #e5e7ef;
  --grey-login:#f2f2f2;
  --grey-home:#d8d8d8;
  --header-color: #232f2f;
  --hover-color: #89A6D7;
  --logo-color:#2C3F68;
  --logo-color-2:#4969ad;
}

body {
  background-color: var(--grey-home);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* Component */

