@import url("./ultils/reset.css");
@import url("./ultils/utils.css");

:root {
  --background-dark: rgb(24, 23, 31);
  --app-background-white: #e5e7ef;
  --grey-home:#f2f2f2;
  --grey-login:#fff;
  --header-color: #232f2f;
  --hover-color: #38383b;
  --logo-color-2:#130B68;
  --logo-color:#43619f;
}

body {
  background-color: #f9f9f9;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

header {
  background-color: #fff;
  min-width: 100%;
  height: 52px;
  box-shadow: 0px 0.5px 4px 0 #b2b2b2;
}

/* logo */
.logo {
  background-image: url(../img/logo.png);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.bar {
  background-color: #EDF3F8;
  border-radius: 10px;
  translate: -100px 0;
}

.bar input{
  width: 300px;
  height: 30px;
  background-color: #EDF3F8;
  padding: 0px 10px;
}

.bar i {
  padding: 10px;
}

/* nav */
nav {
  padding: 10px;
  list-style: none;
  margin-right: 5px;
}

nav ul li p {
  font-size: 12px;
  cursor: pointer;
  font-weight: 100;
  color: var(--logo-color);
  margin-top: 5px;
  font-family: sans-serif;
}

.home {
  color: var(--hover-color);
}
nav ul li {
  margin-left: 40px;
}

nav ul li i {
  font-size: 19px;
  text-decoration: none;
  font-weight: 100;
  color: var(--logo-color);
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}

nav ul li:hover i{
  color: var(--hover-color);
  transition: color 250ms ease-in-out;
}

nav ul li:hover p{
  color: var(--hover-color);
  transition: color 250ms ease-in-out;
}

.profile {
  background-image: url('../img/profile-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  border: 2px solid var(--logo-color-2);
}

/* columns */
.column {
  margin-top: 20px;
}
/* main columns 1*/
.column1 {
  text-align: center;
  height: 300px;
  width: 220px;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0.5px 1px 4px 0 #b2b2b2;
}

.clm1-bg {
  background-image: url('../img/bg-clm1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  height: 60px;
  width: 220px;
  position: relative;
}

.clm1-img {
  position: absolute;
  translate: 60px 10px;
  background-image: url('../img/profile-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

.clm1-des {
  margin-top: 55px;
}

.under {
  color: #858585;
  width: 20ch;
  margin-left: 25px;
}

.under-un {
  color: #2d2d2d;
}

.under-un span {
  margin-left: 50px;
}

.under-un .hi {
  margin-left: 75px;
}

/* main column 2 */
.column2 {
  padding: 10px;
  text-align: center;
  height: 140px;
  width: 520px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0.5px 1px 4px 0 #b2b2b2;
}

.clm2-img {
  background-image: url('../img/profile-pic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: 2px solid var(--logo-color-2);
}

input[type=text] {
  width: 420px;
  height: auto;
  background-color: var(--placeholder-color);
  border-radius: 50px;
  font-size: 15px;
  color: #000;
  border: 1px solid #000;
  text-align: left;
  padding: 10px 20px;
  margin: 10px;
}

input::placeholder {
  color: #000;
}

.media {
  padding: 10px 30px;
}

.media div {
  cursor: pointer;
  padding: 5px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
}

.media div:hover {
  background-color: #e5e5e5;
  transition: background-color 250ms ease-in-out;
}

.media i {
  color: var(--logo-color-2);
}

/* main column 3 */
.column3 {
  text-align: center;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0.5px 0px 4px 0 #b2b2b2;
  background-color: #f5f5f5;
}

.people {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: var(--logo-color) #fff;/* if some broser shows scroll then 
  the color will be applied maybe */
  height: calc(100dvh - 186px);
}

.column3 p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 20px 10px;
  color: var(--logo-color-2);
  border-bottom: 2px solid #000;
  width: 100%;
}

.users {
  border-top: 1px solid #778899;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  cursor: pointer;
  background-color: #eee;
}

.users:hover {
  background-color: #e5e7ef;
  transition: background-color ease-in-out 200ms;
}

.users:first-child {
  border-style: none;
}

.user-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.user-name {
  letter-spacing: 1.2px;
}

.user-city {
  color: var(--logo-color-2);
  letter-spacing: 1.2px;
}

/* footer */
.contact {
  background-color: #eee;
  text-align: center;
  height: 45px;
  box-shadow: 0.5px 2px 4px 2px #b2b2b2;
}

.box {
  position: relative;
  text-align: center;
}

.box .icon {
  color: var(--logo-color);
  align-items: center;
}

.box .icon a {
  color: var(--logo-color);
  font-size: 25px;
  transition: color 0.25s ease-in-out;
}

.box .icon a:hover {
  color: var(--hover-color);
}

.icon i {
  margin-left: 20px;
  cursor: pointer;
}

.footer {
  color: #000;
  position: relative;
  bottom: 0;
}

