@import url("./ultils/reset.css");
@import url("./ultils/utils.css");

:root {
  --background-dark: rgb(24, 23, 31);
  --app-background-white: #e5e7ef;
  --grey-home:#f2f2f2;
  --grey-login:#d8d8d8;
  --header-color: #232f2f;
  --hover-color: #89A6D7;
  --logo-color:#130B68;
  --logo-color-2:#43619f;
  --placeholder-color: #d1dcef;
}

body {
  background-color: var(--grey-login);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* img */
.bg-img {
  background: url('../img/login-side-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  inset: 0px auto auto 0px;
  position: fixed;
  width: 50%;
  opacity: 0.9;
}

.bg-img p {
  font-size: 40px;
  margin: 40% 20%;
  font-weight: 600;
}

/* login section */
.login-sec {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  /* margin-left: 55%; */
}

.login-sec .welcome {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0px;
}

input[type=text] {
  width: 300px;
  height: 50px;
  background-color: var(--placeholder-color);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  text-align: left;
  padding: 10px;
}

input::placeholder {
  color: var(--logo-color-2);
}

input[type=text] + input[type=text] {
  display: flex;
  margin: 10px 0px;
}

.message {
  color: red !important;
  visibility: hidden;
  margin: 10px 0px;
  font-size: 15px;
}

.login {
  background-color: var(--logo-color-2);
  padding: 10.5px;
}

.register {
  outline: solid var(--logo-color-2);
}

.login:hover, .register:hover {
  text-decoration: underline;
}

/* bottom */

.bottom {
  position: fixed;
  top: 80%;
  right: 150px;
  transform: translate(-50%, -50%);
  /* outline: solid #000; */
  width: 30ch;
}

.blue {
  color: var(--logo-color);
  cursor: pointer;
}

