@import url("./ultils/reset.css");
@import url("./ultils/utils.css");

:root {
  --background-dark: rgb(24, 23, 31);
  --app-background-white: #e5e7ef;
  --grey-home:#f2f2f2;
  --grey-login:#d8d8d8;
  --header-color: #232f2f;
  --hover-color: #89A6D7;
  --logo-color:#130B68;
  --logo-color-2:#43619f;
  --placeholder-color: rgba(19 11 104 / 10%);
}

body {
  background-color: var(--grey-login);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

main {
  width: 100vw;
}

.flex-login {
  display: flex;
}

/* img */
.bg-img {
  background: url('../img/login-side-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  inset: 0px auto auto 0px;
  width: 50%;
  display: grid;
  place-items: center;
}

.bg-img .bg-img-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-img h1 {
  margin-left: 16px;
  display: inline-block;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

/* login section */
.login-sec {
  width: 50%;
  display: grid;
  place-items: center;
}

.login-sec .welcome {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0px;
}

input[type=text] {
  width: 320px;
  background-color: var(--placeholder-color);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  padding: 14px 0px 15px 12px;
  border: 1px solid rgba(0 0 0 / 30%);
}

input::placeholder {
  color: #000;
}

input[type=text] + input[type=text] {
  display: flex;
  margin: 22px 0px;
}

.message {
  color: tomato !important;
  visibility: hidden;
  font-size: 22px;
  margin-top: 20px;
}

.message a {
  color: blue !important;
  text-decoration: underline;
}

.login {
  background-color: rgba(19 11 104 / 85%);
  border: 2px solid rgba(19 11 104 / 85%);
  padding: 8px 22px 9px 22px;
  border-radius: 6px;
  transition: background-color 150ms ease-in-out;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.login:hover {
  background-color: #130B68;
}

.register {
  margin-left: 16px;
  border: 2px solid var(--logo-color-2);
  transition: background-color 150ms ease-in-out;
  padding: 8px 22px 9px 22px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.register:hover {
  background-color: rgba(0 0 0 / 10%);
}


/* bottom */

.bottom {
  margin-top: 20px;
}

.bottom p {
  font-size: 22px;
}

.blue i {
  font-weight: 600;
  color: var(--logo-color);
  cursor: pointer;
  padding: 12px;
  margin: 0px 12px;
  border-radius: 6px;
  border: 1px solid #000;
  transition: all 150ms ease-in-out;
  background-color: rgba(255 255 255 / 40%);
}

.blue i:first-child  {
  margin-left: 0px;
}

.blue i:last-child {
  padding: 12px 15px;
}

.blue i:hover {
  background-color: rgba(0 0 0 / 10%);
}

